
<div class="uk-container">
<div class="uk-padding">



<div class="uk-card uk-card-default uk-width-1-2@m">
    <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
                <img class="uk-border-circle" width="90" height="90" src="assets/img/back.jpg">
            </div>
            <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">Email :{{email}}</h3>
                <p class="uk-text-meta uk-margin-remove-top">{{name}}</p>
                 <span  class="uk-label float-left">Price :{{price}} </span>

            </div>
        </div>
    </div>
    <div class="uk-card-body">
        <p>{{notes}}.</p>
    </div>
    <div class="uk-card-footer">
    
        <span  class="uk-label">Phone :{{phone}} </span>
        <span  class="uk-label  uk-label-success">Place :{{place}} </span>
        <!-- <span  class="uk-label">Price :{{price}} </span> -->
        <span  class="uk-label  uk-label-danger">Skill :{{skill}} </span>
    </div>
</div>



</div>
</div>
